.container_navbar{
  position: fixed;
  overflow: hidden;
  display: block;
  z-index: 1000;
  height: 100vh;
  width: 100%;
  .container_icon-hamburguer{
    position: absolute;
    right: 2%;
    top: 2%;
  }
  .title_flag{
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 3em;
    a{
      text-decoration: none;
      color: white;
    }
    h1{
      margin: 0;
      padding: 10px;
    }
  }
  .navbar{
    padding: 10px 0px;
    border-radius: 5px;
    backdrop-filter: blur(20px);
    height: 100vh;
    position: absolute;
    top: 0%;
    right: -60%;
    width: 40%;
    transition: right;
    transition-duration: 1s;
    z-index: 3;
    display: flex;
    flex-direction: column;
    
    .container_icon-exit{
      margin-left: 10px;
      text-align: center;
      position: absolute;
      right: 80px;
      width: 100%;
    }
    a{
      text-align: left;
      text-decoration: none;
      color: white;
      margin:2em 2em;
      width: 90%;
    }
    a:hover{
      border-bottom: 1px solid white;
    }
  }
  .is-active{
    right: 0;
  }
  .no-active{
    display: none;
  }
}
.desaparece{
  display: none;
}
@media (min-width: 960px){
  .container_navbar{
    height: 10%;
    display: flex;
    .title_flag{
      background: none;
    }
    .container_icon-hamburguer{
      display: none;
    }
    .navbar{
      justify-content: center;
      background: none;
      align-items: center;
      right: 0%;
      display: flex;
      backdrop-filter: none;
      width: 50%;
      height: 100%;
      a{
        height:80%;
        width: 10%;
        margin: 0;
        padding: 5px;
      }
      .container_icon-exit{
          display: none;
      }
      
    }
  }
}