
.carousel{
  height: 100vh;

  .carousel-inner{
    height: 100%;

    .carousel-item{
      height: 100%;

      img{
        height: 100vh;
        opacity: 0.8;
      }

      .carousel-caption{
        h5{
          text-shadow: 2px 2px 5px black;
        }
        p{
          text-shadow: 2px 2px 5px black;
        }
      }
    }
  }
}
@media (min-width: 960px){
  .carousel{
    height: 100vh;
  
    .carousel-inner{
      height: 100%;
  
      .carousel-item{
        height: 100%;
      }
    }
  }
}