.form{
  display: flex;
  flex-direction: column;
  align-items: left;
  .search_input{
    background:  hsl(209, 23%, 22%);
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    color: hsl(0, 0%, 100%);
    width: 90%;
  }
  .search_filter{
    color: hsl(0, 0%, 100%);
    background:  hsl(209, 23%, 22%);
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    width: 50%;
    
  }
}